# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Python
__pycache__/
*.pyc
.env

# Virtual environment
venv/
ENV/
env/

# Datasets
data/
datasets/

# ML models (recommended to ignore)
*.h5
*.pt

# Node
node_modules/
build/
dist/

# OS
.DS_Store
Thumbs.db
